:root {
  --primary-color: #FB9D00;
  --secondary-color: #0E4EA5;
  --secondary-color: #537FBD;
  --primary-text: #242424;
  --secondary-text: #fff;
  --font-body: "Karla", sans-serif;
  --font-heading: "Rubik", serif;
}

html {
  font-family: var(--font-body);
  background-color: #eee;
}
body {
  margin: 0;
  padding: 1rem;
}
body * {
  box-sizing: border-box;
}
main {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", serif;
  margin: 0;
  line-height: 100%;
}
p {
  margin: 0;
}
a {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
}
hr {
  border: 0;
  border-bottom: 1px solid;
  border-color: var(--primary-color);
  border-style: solid;
  margin: .5em auto;
  width: 12em;
}

.btn-print {
  display: none;
  background-color: var(--primary-color);
  border: 2px solid #fff;
  border-radius: 100%;
  top: 0;
  right: 1rem;
  width: 50px;
  height: 50px;
  position: absolute;
  color: var(--secondary-text);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.31);
  transition: .3s ease-in-out;
  transform: translate(-50%, -50%) rotate(0deg);
}
.btn-print:focus {
  outline: none;
}
.btn-print:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.31);
  transform: translate(-50%, -50%) rotate(7deg);
}



.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px #a7a7a7;
}

.intro {
  padding: 1rem;
  color: var(--secondary-text);
  background-color: #373b46;
}
.intro h1 {
  font-size: 30px;
  text-transform: uppercase;
}
.intro h1 .logo {
  position: relative;
  color: var(--primary-color);
  display: inline-block;
}
.intro h1 .logo:after {
  position: absolute;
  color: var(--secondary-text);
  content: "{ }";
  font-size: .4em;
  font-weight: 400;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: var(--primary-color);
  height: 1.25em;
  width: 1.25em;
  display: inline-block;
  line-height: 1.25em;
  text-align: center;
  margin-top: -.05em;
}
.intro h1 .delimiter {
  display: none;
  font-weight: 400;
}
.intro h1 .after-title {
  font-size: .5em;
  font-weight: 300;
  white-space: nowrap;
}
.intro .sub-title {
  font-size: 1.2rem;
  font-style: italic;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  order: 2;
}
.flex-container.motivatie {
  order: 1;
}

.flex-child {
  flex: 1 1 100%;
  order: 3;
  padding: 1rem;
}
.flex-child.right {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  order: 1;
}
.flex-child.bottom {
  background-color: var(--primary-color);
  color: var(--secondary-text);
  order: 1;
}

/* === LINKS - TIJDLIJN ELEMENTEN === */

.timeline {
  display: flex;
  flex-direction: column;
}
.timeline .timeline-header {
  display: flex;
  align-self: flex-start;
}
.timeline .timeline-header .tag {
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-text);
  border-radius: .25em;
  display: inline-flex;
  height: 2em;
  justify-content: center;
  line-height: 1.5em;
  padding: 0 .75em;
  white-space: nowrap;
}

.timeline .timeline-item {
  position: relative;
  margin-left: 2em;
  padding-bottom: 2em;
}
.timeline .timeline-item:before {
  content: "";
  background-color: var(--primary-color);
  display: block;
  width: .1em;
  height: 100%;
  position: absolute;;
  left: 0;
  top: 0;
}

.timeline .timeline-item .timeline-marker {
  position: absolute;
  background: var(--secondary-color);
  border: .1em solid var(--secondary-color);
  border-radius: 100%;
  content: "";
  display: block;
  height: .8em;
  left: -.35em;
  top: 1.2rem;
  width: .8em;
}

.timeline .timeline-item .timeline-content {
  padding: 1em 0 0 2em;
}
.timeline .timeline-item .timeline-content .date {
  font-size: .8em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.timeline .timeline-item .timeline-content .title {
  font-weight: 600;
}

/* === RECHTS - INFORMATIE ELEMENTEN === */

.info-blocks {
  display: flex;
  flex-direction: column;
}
.info-blocks:not(:first-child) {
  margin-top: 1rem;
}
.info-blocks hr {
  margin-left: 0;
  margin-right: auto;
}
.info-blocks p {
  display: flex;
  flex-direction: row;
  margin-bottom: .5em;
  justify-content: space-between;
}

.personalia p .fas {
  color: var(--primary-color);
  width: 1em;
}
.personalia p .personalia-content {
  margin-left: .5em;
}

.vaardigheden p {
  align-items: center;
}
.vaardigheden p span:last-child {
  flex: 0 0 70%;
}

.vaardigheden-skillbar {
  background-color: #ddd;
  border-radius: 10px;
  height: 10px;
  position: relative;
  overflow: hidden;
}
.vaardigheden-skillbar:before {
  content: "";
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  animation: progress .5s cubic-bezier(0.9, 0, 0.63, 1.4);
  transform: translateX(-100%);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0;
}
.vaardigheden-skillbar.level-10:before { left: -90%; }
.vaardigheden-skillbar.level-20:before { left: -80%; }
.vaardigheden-skillbar.level-30:before { left: -70%; }
.vaardigheden-skillbar.level-40:before { left: -60%; }
.vaardigheden-skillbar.level-50:before { left: -50%; }
.vaardigheden-skillbar.level-60:before { left: -40%; }
.vaardigheden-skillbar.level-70:before { left: -30%; }
.vaardigheden-skillbar.level-80:before { left: -20%; }
.vaardigheden-skillbar.level-90:before { left: -10%; }
.vaardigheden-skillbar.level-100:before { left: 0; }



@media (min-width: 768px) {
  body {
    padding-top: 2rem;
  }
  .btn-print {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .flex-child.right {
    flex-direction: row;
  }
  .info-blocks {
    flex: 0 0 50%;
  }
  .info-blocks:nth-of-type(2n+1) {
    padding-right: 2rem;
  }
  .info-blocks:not(:first-child) {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .intro h1 {
    font-size: 50px;
  }
  .intro h1 .delimiter {
    display: inline;
  }

  .flex-container {
    flex-direction: row;
  }
  .flex-child.left {
    flex-basis: 70%;
  }
  .flex-child.right {
    flex-basis: 30%;
    order: 3;
    text-align: right;
  }

  .timeline.is-centered .timeline-header {
    align-self: center;
  }

  .timeline.is-centered .timeline-item {
    width: 50%;
    align-self: flex-end;
  }
  .timeline.is-centered .timeline-item:nth-of-type(2n) {
    align-self: flex-start;
    margin-left: 0;
    margin-right: 2em;
  }
  .timeline.is-centered .timeline-item:nth-of-type(2n):before {
    right: -.1em;
    left: auto;
  }
  .timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker {
    right: -.45em;
    left: auto;
  }
  .timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-content {
    padding: 1em 2em 0 0;
    text-align: right;
  }

  .info-blocks hr {
    margin-left: auto;
    margin-right: 0;
  }
  .info-blocks p span:first-child {
    text-align: left;
  }

  .vaardigheden p {
    flex-direction: column;
    align-items: flex-end;
  }
  .vaardigheden p span:last-child {
    width: 100%;
    margin-top: .5em;
  }
}





@media print {
  body {
    background-color: #fff;
  }
  .btn-print {
    display: none;
  }
  .container {
    max-width: 100%;
  }
  .intro {
    background-color: #373b46;
  }
}




/* === ANIMATIONS === */

.delay-20, .delay-20:before { animation-delay: 200ms; }
.delay-40, .delay-40:before { animation-delay: 400ms; }
.delay-60, .delay-60:before { animation-delay: 600ms; }
.delay-80, .delay-80:before { animation-delay: 800ms; }
.delay-100, .delay-100:before { animation-delay: 1000ms; }
@keyframes progress {
  0% { transform: translateX(-100%); }
  100% { transform: translate(0); }
}