/*
 * --- 2019 (c) Ronald Schelling
 * --- Author: Ronald Schelling
 * --- Title: Curriculum Vitae
 * --- Description: Styling voor mijn CV pagina
 */

/* *******************************************************************
 *                              RESETS
 * **************************************************************** */
:root {
  --primary-color: #FB9D00;
  --secondary-color: #537FBD;
  --tertiary-color: #373b46;
  --primary-text: #242424;
  --secondary-text: #fff;
  --font-body: "Karla", sans-serif;
  --font-heading: "Rubik", serif;
}

html {
  font-family: var(--font-body);
  background-color: #eee;
}
body {
  margin: 0;
  padding: 1rem;
}
body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
main {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", serif;
  margin: 0;
  line-height: 100%;
}
p {
  margin: 0;
}
a {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
}
hr {
  border: 0;
  border-bottom: 1px solid;
  border-color: var(--primary-color);
  border-style: solid;
  margin: .5em auto;
  width: 12em;
}

/* *******************************************************************
 *                      PAGE STYLES | order: DOM
 * **************************************************************** */
.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #a7a7a7;
  box-shadow: 0 0 10px #a7a7a7;
}

.btn-container {
  width: 100%;
}
.btn-print {
  background-color: var(--primary-color);
  border: 2px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  display: none;
  top: 0;
  right: 1rem;
  width: 50px;
  height: 50px;
  position: absolute;
  color: var(--secondary-text);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}
.btn-print:focus {
  outline: none;
}
.btn-print:hover {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.31);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.31);
  -webkit-transform: translate(-50%, -50%) rotate(7deg);
  -ms-transform: translate(-50%, -50%) rotate(7deg);
  transform: translate(-50%, -50%) rotate(7deg);
}
.btn-print:hover span {
  opacity: 1;
  -webkit-transition: opacity .2s ease .2s;
  -o-transition: opacity .2s ease .2s;
  transition: opacity .2s ease .2s;
}
.btn-print span {
  background-color: var(--secondary-color);
  border-radius: .3em;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.31);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.31);
  opacity: 0;
  left: 50%;
  top: 60px;
  padding: .3em;
  position: absolute;
  pointer-events: none;
  -webkit-transform: translateX(-50%) rotate(-7deg);
  -ms-transform: translateX(-50%) rotate(-7deg);
  transform: translateX(-50%) rotate(-7deg);
  width: 150px;
}
.btn-print span:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--secondary-color);
  content: "";
  width: 0;
  height: 0;
  top: -5px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* =========================  HEADER  ========================= */
.intro {
  padding: 1rem;
  color: var(--secondary-text);
  background-color: #373b46;
}
.intro h1 {
  font-size: 30px;
  text-transform: uppercase;
}
.intro h1 .logo {
  position: relative;
  color: var(--primary-color);
  display: inline-block;
}
.intro h1 .logo:after {
  position: absolute;
  color: var(--secondary-text);
  content: "{ }";
  font-size: .4em;
  font-weight: 400;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: var(--primary-color);
  height: 1.25em;
  width: 1.25em;
  display: inline-block;
  line-height: 1.25em;
  text-align: center;
  margin-top: -.05em;
}
.intro h1 .delimiter {
  display: none;
  font-weight: 400;
}
.intro h1 .after-title {
  font-size: .5em;
  font-weight: 300;
  white-space: nowrap;
}
.intro .sub-title {
  font-size: 1.2rem;
  font-style: italic;
}


/* =========================  MAIN  ========================= */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-child {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 1rem;
}
.flex-child.top {
  background-color: var(--primary-color);
  color: var(--secondary-text);
}
.flex-child.left {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.flex-child.right {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* INFO BLOK LINKS | Tijdlijn elementen */
.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.timeline .timeline-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.timeline .timeline-header .tag {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-text);
  border-radius: .25em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5em;
  padding: 0 .75em;
  white-space: nowrap;
}

.timeline .timeline-item {
  position: relative;
  margin-left: 2em;
  padding-bottom: 2em;
}
.timeline .timeline-item:before {
  content: "";
  background-color: var(--primary-color);
  display: block;
  width: .1em;
  height: 100%;
  position: absolute;;
  left: 0;
  top: 0;
}

.timeline .timeline-item .timeline-marker {
  position: absolute;
  background: var(--secondary-color);
  border: .1em solid var(--secondary-color);
  border-radius: 100%;
  content: "";
  display: block;
  height: .8em;
  left: -.35em;
  top: 1.2rem;
  width: .8em;
}

.timeline .timeline-item .timeline-content {
  padding: 1em 0 0 2em;
}
.timeline .timeline-item .timeline-content .date {
  font-size: .8em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.timeline .timeline-item .timeline-content .title {
  font-weight: 600;
}

/* INFO BLOK RECHTS | Informatie elementen */
.info-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.info-blocks:not(:first-child) {
  margin-top: 1rem;
}
.info-blocks hr {
  margin-left: 0;
  margin-right: auto;
}
.info-blocks p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: .5em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*  Motivatie blok */
.info-blocks.motivatie hr {
  border-color: #373b46;
  margin-left: 0;
  margin-right: auto;
}
.info-blocks.motivatie p {
  margin-bottom: 1em;
}

/* Personalia blok */
.info-blocks.personalia p .fas {
  color: var(--primary-color);
  width: 1em;
}
.info-blocks.personalia p .personalia-content {
  margin-left: .5em;
}

/* Vaardigheden blok */
.info-blocks.vaardigheden p {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.info-blocks.vaardigheden p span:last-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
}

.vaardigheden-skillbar {
  background-color: #ddd;
  border-radius: 10px;
  height: 10px;
  position: relative;
  overflow: hidden;
}
.vaardigheden-skillbar:before {
  content: "";
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  -webkit-animation: progress .5s cubic-bezier(0.9, 0, 0.63, 1.4);
  animation: progress .5s cubic-bezier(0.9, 0, 0.63, 1.4);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.vaardigheden-skillbar.level-10:before { left: -90%; }
.vaardigheden-skillbar.level-20:before { left: -80%; }
.vaardigheden-skillbar.level-30:before { left: -70%; }
.vaardigheden-skillbar.level-40:before { left: -60%; }
.vaardigheden-skillbar.level-50:before { left: -50%; }
.vaardigheden-skillbar.level-60:before { left: -40%; }
.vaardigheden-skillbar.level-70:before { left: -30%; }
.vaardigheden-skillbar.level-80:before { left: -20%; }
.vaardigheden-skillbar.level-90:before { left: -10%; }
.vaardigheden-skillbar.level-100:before { left: 0; }

/* =========================  FOOTER  ========================= */
footer {
  background-color: var(--tertiary-color);
  color: var(--secondary-text);
  padding: .5em 1.5em;
}
footer p {
  font-weight: 200;
  font-style: italic;
  text-align: center;
}

/* *******************************************************************
 *                              MEDIA QUERIES
 * **************************************************************** */
@media screen and (min-width: 768px) {
  body {
    padding-top: 2rem;
  }
  .btn-print {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .flex-child.right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .info-blocks {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .info-blocks:nth-of-type(2n+1) {
    padding-right: 2rem;
  }
  .info-blocks:not(:first-child) {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .intro h1 {
    font-size: 50px;
  }
  .intro h1 .delimiter {
    display: inline;
  }

  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flex-child.left {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    -webkit-box-ordinal-group: unset;
    -ms-flex-order: unset;
    order: unset;
  }
  .flex-child.right {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    text-align: right;
  }

  .timeline.is-centered .timeline-header {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .timeline.is-centered .timeline-item {
    width: 50%;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .timeline.is-centered .timeline-item:nth-of-type(2n) {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 0;
    margin-right: 2em;
  }
  .timeline.is-centered .timeline-item:nth-of-type(2n):before {
    right: -.1em;
    left: auto;
  }
  .timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker {
    right: -.45em;
    left: auto;
  }
  .timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-content {
    padding: 1em 2em 0 0;
    text-align: right;
  }

  .info-blocks hr {
    margin-left: auto;
    margin-right: 0;
  }
  .info-blocks p span:first-child {
    text-align: left;
  }

  .info-blocks.vaardigheden p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .info-blocks.vaardigheden p span:last-child {
    width: 100%;
    margin-top: .5em;
  }
}


/* *******************************************************************
 *                              MEDIA PRINT
 * **************************************************************** */
@media only print and ( orientation: portrait )  {
  html,
  body {
    background-color: #fff;
  }
  .btn-print {
    display: none;
  }
  .container {
    max-width: 100%;
  }
  .intro {
    background-color: #373b46;
  }
  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flex-child.left {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    -webkit-box-ordinal-group: unset;
    -ms-flex-order: unset;
    order: unset;
  }
  .flex-child.right {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    text-align: right;
  }
}




/* *******************************************************************
 *                              ANIMATIONS
 * **************************************************************** */
.delay-20, .delay-20:before { -webkit-animation-delay: 200ms; animation-delay: 200ms; }
.delay-40, .delay-40:before { -webkit-animation-delay: 400ms; animation-delay: 400ms; }
.delay-60, .delay-60:before { -webkit-animation-delay: 600ms; animation-delay: 600ms; }
.delay-80, .delay-80:before { -webkit-animation-delay: 800ms; animation-delay: 800ms; }
.delay-100, .delay-100:before { -webkit-animation-delay: 1000ms; animation-delay: 1000ms; }

@-webkit-keyframes progress {
  0% { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  100% { -webkit-transform: translate(0); transform: translate(0); }
}

@keyframes progress {
  0% { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  100% { -webkit-transform: translate(0); transform: translate(0); }
}